<input
  [id]="item.description"
  type="checkbox"
  (change)="item.done = !item.done"
  [checked]="item.done"
/>
<label [for]="item.description">{{ item.description }}</label>

@if (!editable) {
<button (click)="editable = !editable">Edit</button>
<button (click)="remove.emit()">Delete</button>
}

<!-- This section shows only if user clicks Edit button -->
@if (editable) {
<input
  #editedItem
  placeholder="edit item"
  [value]="item.description"
  (keyup.enter)="saveItem(editedItem.value)"
/>

<button (click)="editable = !editable">Cancel</button>
<button (click)="saveItem(editedItem.value)">Save</button>
}
