<h1>{{ componentTitle }} - Test</h1>
<label for="addItemInput">What would you like to do today?</label>

<input
  #newItem
  placeholder="add an item"
  (keyup.enter)="addItem(newItem.value); newItem.value = ''"
  id="addItemInput"
/>

<button (click)="addItem(newItem.value); newItem.value = ''">Add</button>

<!-- Buttons that show all, still to do, or done items on click -->
<button [class.active]="filter === 'all'" (click)="filter = 'all'">All</button>

<button [class.active]="filter === 'active'" (click)="filter = 'active'">
  To Do
</button>

<button [class.active]="filter === 'done'" (click)="filter = 'done'">
  Done
</button>

<!-- catches the remove event bubbling up from the child and uses it to trigger this component's remove function -->
<h2>{{ items.length }} @if (items.length === 1) { item } @else { items }</h2>

@for (item of items; track item.description) {
<app-item (remove)="remove(item)" [item]="item"></app-item>
}
